fastapi
uvicorn
requests
python-dotenv
pydantic
httpx
python-multipart
pytest
pytest-asyncio
python-jose[cryptography]
bcrypt
sqlalchemy
psycopg2-binary
supabase
slowapi
fastapi-cache2[redis]
gunicorn
jinja2
